{% capture baseurl %}{{site.url}}/assets/images/0.5.1/{% endcapture %}

{% assign links = include.links | split: ',' %}
{% assign titles = include.titles | split: ',' %}

{% if include.num != nil %}{% assign num = include.num | minus: 1 %}{% else %}{% assign num = links | length | plus: 1 %}{% endif %}

<div id="links">
  {% for i in (0..num) %}
    <a href="{{ baseurl }}{{ links[i] }}" title="{{ titles[i] }}" data-gallery></a>
  {% endfor %}
</div>

<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
</div>
